.post{
    
    background-color: white;
    cursor: pointer;
    
    margin-top: 30px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.post:hover{
    transform: scale(1.05); /* Increase size by 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  
  }
  
.post .title{
    background-color: #D9B8F3;
    padding: 20px 20px;
    border-radius: 12px;
    font-family: "Nerko One", cursive;
    font-size: 30px;
  }
.post .body{
    
    padding: 20px 20px;
    
  }
.post .footer{
    padding: 20px 20px;
    
  }
.post .footer .user{
    color: #4558C8;
    font-weight: bold;
    
  }